{% extends 'app/base_app.html' %}

{% block title %}
    Delete Post "{{ product.title|title }}" - {{ block.super }}
 {% endblock %}


 {% block content %}

    <form action="{{ product.get_delete_url }}" method="post">
        {% csrf_token %}

        <h3>Are you sure you want to delete <b>"{{ product.prodname|title }}"</b> product?</h3>
        <a href="{{ product.get_absolute_url }}">Cancel</a>
        <button type="submit" name="button" class="btn btn-danger">Delete</button>

    </form>


 {% endblock %}