{% extends 'app/base_app.html' %}

{% block title %}
    Shop Create - {{ block.super }}
{% endblock %}

{% block content %}

    <form action="{% url 'shop_create_url' %}" method="post">
        {% csrf_token %}

        {% for field in form %}
            <div class="form-group">
                {% if field.errors %}
                    <div class="alert alert-danger">
                        {{ field.errors }}
                    </div>
                {% endif %}

                {{ field.label }}
                {{ field }}
            </div>

        {% endfor %}

        <button type="submit" class="btn btn-primary">Create Shop</button>
    </form>


{% endblock %}